<div class="row" style="background-image: url(../images/rawpixel-658253-unsplash.jpg)">
  <div class="col-sm-offset-2 col-sm-8 col-xs-offset-1 col-xs-10">
    <h1>List of jobs</h1>

    <% @jobs.each do |job| %>
    <li> <%= link_to job.name, job_path(job) %> </li>
    <p><%= job.language %></p>
    <p><%= job.description %></p>
    <p><%= job.budget %></p>
    <% end %>

    </br>
    </br>

    <!-- Add a new job -->

    <%= link_to "Add new job", edit_user_registration_path %>

    </br>
    </br>

    <!-- Go back to your profile -->

    <%= link_to "Back to my profile",edit_user_registration_path(@user) %>
  </div>
</div>
