<div class="row">
  <div class="col-sm-8 offset-sm-2 col-xs-10 offset-xs-1">
    <div class="card-show mt-5">
      <div class="text-center pb-3">
        <h2><%= @job.name %></h2>
        <p>Your mission details:</p>
      </div>
      <u>Team</u>
      <ul>
        <li><strong>Requester: </strong> <%= "#{@job.user.first_name} #{@job.user.last_name}"%></li>
        <li><strong>Interpreter: </strong> <%= link_to "#{@job.interpreter.first_name} #{@job.interpreter.last_name}", user_path(@job.interpreter) %></li>
      </ul>
      <u>Details</u>
      <ul>
        <li><strong>Description: </strong> </li>
        <%= @job.description %></li>
      <% if @job.language %>
        <li><strong>Language: </strong> <%= @job.language.name %></li>
      <% end %>
      <li><strong>Start date: </strong> <%= @job.start_date %></li>
      <li><strong>End date: </strong> <%= @job.end_date %></li>
      <li><strong>Date posted: </strong> <%= @job.date_posted %></li>
      <li><strong>Budget: </strong> <%= @job.budget %></li>
      <li><strong>Status: </strong> <%= @job.status %></li>
    </ul>
    <div id="reviews">
      <u>Reviews:</u>
      <% @job.reviews.each do |review| %>
        <%= render 'reviews/show', review: review %>
      <% end %>
    </div>
    <div class="text-center">
      <span>
        <%= link_to "Edit", edit_job_path(@job) %> |
        <%= link_to "Delete", job_path(@job),
                          method: :delete,
                          data: { confirm: "Are you sure?" } %>
      </span>
    </div>
  </div>
  <div class="card-show mt-3">
    <div class="my-3">
      <strong> Add a review </strong>
      <i> We would like to know your feedback </i>
    </div>
    <%= render 'reviews/form',job: @job, review: @review %>
  </div>
  <div class='my-3'>
    <%= link_to "Back to all missions", jobs_path %> |
    <%= link_to "Back to my profile", edit_user_registration_path %>
  </div>
</div>
</div>