<h1>List of interprets</h1>
<div class="cards">
  <% @users.each do |user| %>
   <% if user.interpreter = true %>
      <%= link_to(user_path(user)) do %>
        <div div class="card-category align-text-bottom" style="background-image: url(<%="#{user.picture}"%>)">
            <p><%= user.first_name %></p>
            <p><%= user.last_name %></p>
            <p><% user.email %></p>
        </div>
      <% end %>
    <% end  %>
  <% end %>
</div>
</br>
</br>

<!-- Go back to your profile -->

<%= link_to "Back to my profile",edit_user_registration_path(@user) %>

