<h1>Find the best interpreter for your mission</h1>
<div class="cards">
  <% @users.each do |user| %>
    <% if user.interpreter = true %>
      <div class="col-sm-3">
        <%= link_to user_path(user) do %>
          <div class="card" style="background-image: url(<%="#{user.picture}"%>)">
            <div div class="card-text">
              <p><%= user.first_name %>&nbsp;</p>
              <p><%= user.last_name %></p>
              <p><% user.email %></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end  %>
  <% end %>
</div>


<!-- Go back to your dashboard -->

<%= link_to "Back to my Dashboard", dashboard_path(current_user) %>

