<div class="container">

  </br>
  </br>

  <div class="row justify-content-around">

    <div class="col-sm-8">
      <div class="card-profile">
        <div class="profile-intro d-flex space-around">
          <div class="profile-img space-around", style="padding-right: 20px; padding-bottom: 20px;">
            <img src="<%="#{@user.picture}"%>", class="rounded-circle", width=100px>
          </div>
          <div class="profile-name">
             <h3><strong><%= @user.first_name %> <%= @user.last_name.upcase%></strong></h3>
              <u>Description:</u>
              </br>
              <%= @user.description %>
              </br>
              </br>
          </div>

        </div>

          <u>Personal details:</u>
          </br>
            <ul>
              <li> <strong>Email:</strong> <%= @user.email %> </li>
              <li> <strong>Phone number:</strong> <%= @user.phone %> </li>
              <li> <strong>Daily rate:</strong> <%= @user.daily_rate %> </li>
              <li> <strong>Address:</strong> <%= @user.location %> </li>
              <li> <strong>Availability:</strong> <%= @user.availability ? "YES" : "NO" %> </li>
              <li> <strong>Willing to travel:</strong> <%= @user.can_travel ? "YES" : "NO" %> </li>
              <li> <strong>LinkedIn profile:</strong> <%= @user.linkedin %> </li>
              <u> <strong>Spoken languages:</strong></u>
                  <% @user.languages.each do |language| %>
                      <li><%= language.name %></p></li>
                  <% end %>
            </ul>
      </div>
    </div>
  </div>
</div>


